body
{
    display: flex;
    background-color:#8189ff;
    text-align: center;
    font-size: 20pt;
    justify-content: center;
    flex-direction: column;
}
#more
{
    font-size: 15pt;
}
header
{
    font-size: 15pt;
    font-family:Times;
    font-size: 40pt;
}
button
{
    color-scheme: dark;
    color: #ffffff;
    font-family: T;
    font-weight: bold;
    margin-top: 10pt;
    font-size: 15pt;
}
footer
{
    font-weight: bold;
    margin-top: 50pt;
}
form
{
    margin-top: 10pt;
}
input
{
    margin-top: 2pt;
}